/* transition duration */
.ng-trans > .ng-enter, .ng-trans > .ng-leave {
  -webkit-transition: 600ms all;
  transition: 600ms all;
}

/* Fade Transition */
.ng-trans-fade > .ng-enter {
  opacity: 0;
}
.ng-trans-fade > .ng-enter.ng-enter-active,
.ng-trans-fade .ng-leave {
  opacity: 1;
}
.ng-trans-fade > .ng-leave.ng-leave-active {
  opacity: 0;
}

/* Fade-down transition */
.ng-trans-fade-down > .ng-enter {
  opacity: 0;
  top: -40px;
}
.ng-trans-fade-down > .ng-enter.ng-enter-active,
.ng-trans-fade-down .ng-leave {
  opacity: 1;
  top: 0;
}
.ng-trans-fade-down > .ng-leave.ng-leave-active {
  opacity: 0;
  top: -40px;
}

/* Fade-left transition */
.ng-trans-fade-right > .ng-enter {
  opacity: 0;
  left: -40px;
}
.ng-trans-fade-right > .ng-enter.ng-enter-active,
.ng-trans-fade-right .ng-leave {
  opacity: 1;
  left: 0;
}
.ng-trans-fade-right > .ng-leave.ng-leave-active {
  opacity: 0;
  left: -40px;
}

/* Slide transition */
.ng-trans-slide-down > .ng-enter {
  opacity: 0;
  top: -800px;
}
.ng-trans-slide-down > .ng-enter.ng-enter-active,
.ng-trans-slide-down .ng-leave {
  opacity: 1;
  top: 0;
}
.ng-trans-slide-down > .ng-leave.ng-leave-active {
  opacity: 0;
  top: -800px;
}

/* Slide transition */
.ng-trans-slide-right > .ng-enter {
  opacity: 0;
  left: -100%;
}
.ng-trans-slide-right > .ng-enter.ng-enter-active,
.ng-trans-slide-right .ng-leave {
  opacity: 1;
  left: 0;
}
.ng-trans-slide-right > .ng-leave.ng-leave-active {
  opacity: 0;
  left: -100%;
}

/* Flip transition */
.ng-trans-flip-x > .ng-enter {
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(90deg);
}
.ng-trans-flip-x > .ng-enter.ng-enter-active,
.ng-trans-flip-x .ng-leave {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateX(0deg);
}
.ng-trans-flip-x > .ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: perspective(400px) rotateX(90deg);
}

/* Flip transition */
.ng-trans-flip-y > .ng-enter {
  opacity: 0;
  -webkit-transform: perspective(200px) rotateY(90deg);
}
.ng-trans-flip-y > .ng-enter.ng-enter-active,
.ng-trans-flip-y .ng-leave {
  opacity: 1;
  -webkit-transform: perspective(200px) rotateY(0deg);
}
.ng-trans-flip-y > .ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: perspective(200px) rotateY(90deg);
}

/* Rotate transition */
.ng-trans-rotate > .ng-enter {
  opacity: 0;
  -webkit-transform: rotate(-180deg);
}
.ng-trans-rotate > .ng-enter.ng-enter-active,
.ng-trans-rotate > .ng-leave {
  opacity: 1;
  -webkit-transform: rotate(0);
}
.ng-trans-rotate > .ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: rotate(-180deg);
}
/*

*/
body {
  background: #FEF9CD;
  font-family: sans-serif;
}

b {
  color: #c00;
}

pre {
  color: #666;
}

.css-code {
  height: 30em;
  overflow: auto;
}

#main {
  background: #FEF9CD;
  color: #7b5704;
}

#header {
  background-color: #C0C314;
  padding: 0 0 10px;
  border-bottom: 6px solid #FBD783;
  margin-bottom: 10px;
}
#header h1 {
  color: #ffffff;
}
#header h1 small {
  color: #92950f;
}
#header .download-button {
  margin-top: 13px;
}

#footer {
  background-color: #FBD783;
  color: #ac7a06;
  padding: 1em 0 0.5em;
  margin: 1em 0 0;
}
#footer a {
  color: #900;
}

.btn-primary {
  background: #a9ac12;
  border: 1px solid #a0a311;
}
.btn-primary:hover {
  background-color: #92950f;
  border: 1px solid #898b0e;
}

h4 {
  color: #898b0e;
  border-left: 12px solid #9c9e10;
  padding: 0 0 0 10px;
}
