/* Compass Ceaser CSS Easing Transitions [https://github.com/jhardy/compass-ceaser-easing] */

@import "ceaser-easing";

@mixin ng-trans-timing-function($ceaser) {
  > .ng-enter, > .ng-leave {
    -webkit-transition-timing-function: ceaser($ceaser);
        -ms-transition-timing-function: ceaser($ceaser);
            transition-timing-function: ceaser($ceaser);
    }
}


