$default-property = all  ;
$default-duration = 250ms;

$hide-class = '&.ng-enter, &.ng-leave.ng-leave-active, &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active'
$show-class = '&.ng-leave, &.ng-enter.ng-enter-active, &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add'

// transition property & duration
ng-trans($duration = $default-duration, $property = $default-property) {
  transition: $duration $property;

  &.ng-hide-add, &.ng-hide-remove {
    display:inherit!important;
  }
}

ng-trans-type($type) {
  // Fade Transition
  if $type == fade {
    {$hide-class} {
      opacity:0
    }
    {$show-class} {
      opacity:1
    }
  }

  // Fade-left transition
  if $type == fade-left {
    {$hide-class} {
      opacity: 0;
      transform: translate(-40px, 0);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // Fade-up transition
  if $type == fade-up {
    {$hide-class} {
      opacity: 0;
      transform: translate(0, -40px);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // Fade-right transition
  if $type == fade-right {
    {$hide-class} {
      opacity: 0;
      transform: translate(40px, 0);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // Fade-down transition
  if $type == fade-down {
    {$hide-class} {
      opacity: 0;
      transform: translate(0, 40px);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // Slide transition
  if $type == slide-left {
    {$hide-class} {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }


  // Slide transition
  if $type == slide-up {
    {$hide-class} {
      opacity: 0;
      transform: translate(0, -800px);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // Slide transition
  if $type == slide-right {
    {$hide-class} {
      opacity: 0;
      transform: translate(100%, 0);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }
  }


  // Slide transition
  if $type == slide-down {
    {$hide-class} {
      opacity: 0;
      transform: translate(0, 800px);
    }
    {$show-class} {
      opacity: 1;
      transform: translate(0, 0);
    }

  }

  // Scale transition
  if $type == scale-up {
    {$hide-class} {
      opacity: 0;
      transform: scale(.64);
    }
    {$show-class} {
      opacity: 1;
      transform: scale(1);
    }
  }

  if $type == scale-down {
    {$hide-class} {
      opacity: 0;
      transform: scale(1.68);
    }
    {$show-class} {
      opacity: 1;
      transform: scale(1);
    }
  }


  // Flip transition
  if $type == flip-x {
    {$hide-class} {
      opacity: 0;
      transform: perspective(400px) rotateX(90deg);
    }
    {$show-class} {
      opacity: 1;
      transform: perspective(400px) rotateX(0deg);
    }
  }

  // Flip transition
  if $type == flip-y {
    {$hide-class} {
      opacity: 0;
      transform: perspective(200px) rotateY(90deg);
    }
    {$show-class} {
      opacity: 1;
      transform: perspective(200px) rotateY(0deg);
    }
  }


  // Rotate transition
  if $type == rotate {
    {$hide-class} {
      opacity: 0;
      transform: rotate(-180deg);
    }
    {$show-class}{
      opacity: 1;
      transform: rotate(0);
    }
  }
}