$trans-selector: '.ng-trans';
$trans-property: all;
$trans-duration: 400ms;

@import "ng-trans-transition.scss";

/* transition property & duration */
#{$trans-selector}             { @include ng-trans }

/* transition types */
#{$trans-selector}-fade        { @include ng-trans-type('fade') }
#{$trans-selector}-fade-left   { @include ng-trans-type('fade-left') }
#{$trans-selector}-fade-up     { @include ng-trans-type('fade-up') }
#{$trans-selector}-fade-right  { @include ng-trans-type('fade-right') }
#{$trans-selector}-fade-down   { @include ng-trans-type('fade-down') }
#{$trans-selector}-slide-left  { @include ng-trans-type('slide-left') }
#{$trans-selector}-slide-up    { @include ng-trans-type('slide-up') }
#{$trans-selector}-slide-right { @include ng-trans-type('slide-right') }
#{$trans-selector}-slide-down  { @include ng-trans-type('slide-down') }
#{$trans-selector}-scale-up    { @include ng-trans-type('scale-up') }
#{$trans-selector}-scale-down  { @include ng-trans-type('scale-down') }
#{$trans-selector}-flip-x      { @include ng-trans-type('flip-x') }
#{$trans-selector}-flip-y      { @include ng-trans-type('flip-y') }
#{$trans-selector}-rotate      { @include ng-trans-type('rotate') }


@import "_ng-trans-timing-function.scss";

/* transition timing functions */
.easeInQuad     { @include ng-trans-timing-function( $easeInQuad ) }
.easeInCubic    { @include ng-trans-timing-function( $easeInCubic ) }
.easeInQuart    { @include ng-trans-timing-function( $easeInQuart ) }
.easeInQuint    { @include ng-trans-timing-function( $easeInQuint ) }
.easeInSine     { @include ng-trans-timing-function( $easeInSine ) }
.easeInExpo     { @include ng-trans-timing-function( $easeInExpo ) }
.easeInCirc     { @include ng-trans-timing-function( $easeInCirc ) }
.easeInQuad     { @include ng-trans-timing-function( $easeInQuad ) }
.easeInBack     { @include ng-trans-timing-function( $easeInBack ) }
.easeOutQuad    { @include ng-trans-timing-function( $easeOutQuad ) }
.easeOutCubic   { @include ng-trans-timing-function( $easeOutCubic ) }
.easeOutQuart   { @include ng-trans-timing-function( $easeOutQuart ) }
.easeOutQuint   { @include ng-trans-timing-function( $easeOutQuint ) }
.easeOutSine    { @include ng-trans-timing-function( $easeOutSine ) }
.easeOutExpo    { @include ng-trans-timing-function( $easeOutExpo ) }
.easeOutCirc    { @include ng-trans-timing-function( $easeOutCirc ) }
.easeOutQuad    { @include ng-trans-timing-function( $easeOutQuad ) }
.easeOutBack    { @include ng-trans-timing-function( $easeOutBack ) }
.easeInOutCubic { @include ng-trans-timing-function( $easeInOutCubic ) }
.easeInOutQuart { @include ng-trans-timing-function( $easeInOutQuart ) }
.easeInOutQuint { @include ng-trans-timing-function( $easeInOutQuint ) }
.easeInOutSine  { @include ng-trans-timing-function( $easeInOutSine ) }
.easeInOutExpo  { @include ng-trans-timing-function( $easeInOutExpo ) }
.easeInOutCirc  { @include ng-trans-timing-function( $easeInOutCirc ) }
.easeInOutQuad  { @include ng-trans-timing-function( $easeInOutQuad ) }
.easeInOutBack  { @include ng-trans-timing-function( $easeInOutBack ) }
