$default-property = all  ;
$default-duration = 400ms;

// transition property & duration
ng-trans($duration = $default-duration, $property = $default-property) {
  &.ng-enter, &.ng-leave {
    -webkit-transition: $duration $property;
            transition: $duration $property;
  }
}

ng-trans-type($type) {
  // Fade Transition
  if $type == fade {
    &.ng-enter {
      opacity:0
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity:1
    }
    &.ng-leave.ng-leave-active {
      opacity:0
    }
  }

  // Fade-left transition
  if $type == fade-left {
    &.ng-enter {
      opacity: 0;
      -webkit-transform: translate(-40px, 0);
              transform: translate(-40px, 0);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
      -webkit-transform: translate(-40px, 0);
              transform: translate(-40px, 0);
    }
  }

  // Fade-up transition
  if $type == fade-up {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(0, -40px);
                transform: translate(0, -40px);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(0, -40px);
                transform: translate(0, -40px);
    }
  }

  // Fade-right transition
  if $type == fade-right {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
                transform: translate(40px, 0);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
                transform: translate(40px, 0);
    }
  }

  // Fade-down transition
  if $type == fade-down {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(0, 40px);
                transform: translate(0, 40px);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(0, 40px);
                transform: translate(0, 40px);
    }
  }

  // Slide transition
  if $type == slide-left {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }
  }


  // Slide transition
  if $type == slide-up {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(0, -800px);
                transform: translate(0, -800px);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(0, -800px);
                transform: translate(0, -800px);
    }
  }

  // Slide transition
  if $type == slide-right {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(100%, 0);
                transform: translate(100%, 0);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(100%, 0);
                transform: translate(100%, 0);
    }
  }


  // Slide transition
  if $type == slide-down {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: translate(0, 800px);
                transform: translate(0, 800px);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: translate(0, 800px);
                transform: translate(0, 800px);
    }

  }

  // Scale transition
  if $type == scale-up {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: scale(.64);
        -ms-transform: scale(.64);
        transform: scale(.64);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: scale(.64);
        -ms-transform: scale(.64);
        transform: scale(.64);
    }
  }

  if $type == scale-down {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: scale(1.68);
        -ms-transform: scale(1.68);
        transform: scale(1.68);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: scale(1.68);
        -ms-transform: scale(1.68);
        transform: scale(1.68);
    }
  }


  // Flip transition
  if $type == flip-x {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        transform: perspective(400px) rotateX(0deg);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
    }
  }

  // Flip transition
  if $type == flip-y {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: perspective(200px) rotateY(90deg);
        -ms-transform: perspective(200px) rotateY(90deg);
        transform: perspective(200px) rotateY(90deg);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        opacity: 1;
        -webkit-transform: perspective(200px) rotateY(0deg);
        -ms-transform: perspective(200px) rotateY(0deg);
        transform: perspective(200px) rotateY(0deg);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: perspective(200px) rotateY(90deg);
        -ms-transform: perspective(200px) rotateY(90deg);
        transform: perspective(200px) rotateY(90deg);
    }
  }


  // Rotate transition
  if $type == rotate {
    &.ng-enter {
        opacity: 0;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave{
        opacity: 1;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
  }

}
